/*主页*/
#header,#content{width:100%;text-align:center;border:2px solid;}
/*#header,#footer{background-color:lightblue;}*/
#header h1{font-size:48px;color:darkblue;}
#footer{width:100%;text-align:center;font-size:12px;color:green;position:fixed;bottom:0;background-color:lightblue;}
h1{text-align:center}
body{color:darkred;}
#header ul{list-style:none;}
#header li{width:200px;display:inline-block;}
/*标题*/
#er {background-color:white;color:black;}
/*菜单栏*/
#he1 a{
    border:1px solid gray;
    display:block;
	padding:4px 10px;
	margin:5px;
	background-color:yellow;
	color:black;
	text-decoration:none;
	}
#he1 a:hover{
	background-color:green;
	color:white;
	font-weight:bold
	}
/*注销
#logout{display:inline-block;
float:right;
	padding:8px 16px;
	background-color:red;
	color:black;
	text-decoration:none;
}
#he2{display:inline-block;
	padding:8px 16px;
	color:purple;
	font-size:20px;}*/
/*首页*/
#shouye p{font-size:48px;}
/*个人信息*/
#grxx ul{list-style:none;}
#grxx li{
background-image:url(images/cn.png);
background-repeat:no-repeat;
padding-left:24px;
}
/*爱好*/
#a1{position:relative;margin:0 auto;}
#c1,#s1{top:2px;position:absolute;}
#c1{width:700px;padding:0 100px;}
#c1 p{font-size:40px;text-align:center;}
#s1 {width:70px;right:2px;}
#s1 a{display:block;
background-color:lightyellow;
text-decoration:none;
text-align:center;
padding:8px 16px;
color:red;
}
#s1 a:hover{
background-color:green;
	color:white;
	font-weight:bold
}
/*图片*/
#pic{text-align:center;}
